@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 236, 254, 255;
  --background-start-rgb: 236, 254, 255;
  --background-end-rgb: 236, 254, 255;
  letter-spacing: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 100, 116, 139;
    --background-start-rgb: 100, 116, 139;
    --background-end-rgb: 30, 41, 59;
    letter-spacing: 3px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
